.header {
  padding: 30px 0;
  margin-bottom: 30px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
// .container {
//   width: 90%;
//   margin: 0 auto;
// }
